
<div class="container">
  <div class="py-5 text-center">

    <h2 class="mt-4">Ingresa actor</h2>

  </div>

  <div class="row">
    <div class="col-md-4 order-md-2 mb-4">
<!--  atrapo el evento de tablapaises -->
      <app-tabla-paises (paisSeleccionado)="paisSeleccionado($event)"></app-tabla-paises>

    </div>
    <div class="col-md-8 order-md-1">
      <h4 class="mb-3">Datos del actor:</h4>
      <form class="needs-validation" novalidate>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control" [(ngModel)]="this.actor.nombre" placeholder="Ingrese nombre" name="nombre" required>
            <div class="invalid-feedback">
              Primer nombre es requerido
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="apellido">Apellido</label>
            <input type="text" class="form-control" id="apellido" [(ngModel)]="this.actor.apellido" placeholder="Ingrese apellido" name="apellido" required>
            <div class="invalid-feedback">
             Apellido es requerido
            </div>
          </div>

        </div>

        <div class="mb-3">
          <label for="dni">DNI:</label>
          <input type="number" class="form-control" id="dni" name="dni" [(ngModel)]="this.actor.dni" placeholder="Ingrese DNI">
          <div class="invalid-feedback">
            Dni es requerido
          </div>
        </div>

        <div class="mb-3">
          <label for="email">Correo: </label>
          <input type="email" class="form-control" id="email" name="email" [(ngModel)]="this.actor.correo" placeholder="you@example.com">
          <div class="invalid-feedback">
            Mail requerido
          </div>
        </div>

        <div class="mb-3" *ngIf="this.actor.pais">
          <label>Pais:</label>
          <h5>{{this.actor.pais.name}}</h5>

          <img
      [src]="this.actor.pais.flag"
      alt=""
      width="70px"
      height="40px"
    />
        </div>




        <hr class="mb-4">
        <button class="btn btn-primary btn-lg btn-block" (click)="agregarActor()">Agregar</button>
      </form>
    </div>
  </div>

  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2017-2022 Company Name</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Privacy</a></li>
      <li class="list-inline-item"><a href="#">Terms</a></li>
      <li class="list-inline-item"><a href="#">Support</a></li>
    </ul>
  </footer>
</div>


    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="../assets/dist/js/bootstrap.bundle.min.js"></script>


        <script src="form-validation.js"></script>

